* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/norse-bold-webfont.woff2)
            format(woff2);
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    
}

.sidebar {
    background-image: url(./background.jpg);
    background-size: cover;
    width: 38vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar-logo {
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 30%;
    height: 150px;
    line-height: 150px;
    font-size: 60px;
    font-weight: 900;
    color: white;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.sidebar-logo span {
    font-family: "Norse Bold" , sans-serif;
}

.sidebar-logo img {
    height: 100%;
}

.sidebar-caption {
    margin-bottom: 1.2em;
    color: white;
}

.sidebar-caption a {
    color: white;
}

.form-area {
    flex:1;
    display: flex;
    flex-flow: column nowrap;
    
    background-color: lightgray;
}

header {
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

header h1,
header p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    padding: 0 150px 0 30px;
}

form {
    font-size: 0.7em;
    font-weight: bold;
}

.user-info {
    background-color: white;
    padding: 0 0 20px 30px;
    display: flex;
    flex-direction: column;
    appearance: none;
    border: none;
}

.user-info legend {
    padding-top: 38px;
    font-size: 16px;
    font-weight: 600;
}

.form-row {
    display: flex;
    flex-direction: row;

}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 20px 60px 20px 0;
}

.submit-controls {
    padding: 0 30px;
    appearance: none;
    border: none;
    padding-top: 1.5em;
}

.submit-controls button {
    padding: 0.8em 2.8em;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 7px;
    border:none;
    background-color: #596D48;
    color: white;
}

input {
    
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus,
input:active {
    outline: none;
    border: 1px solid blue;
}

input:invalid {
    border-color: red;
}

input:empty {
    border: 1px solid #E5E7EB;
}
